.container {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 241, 244, 0.65);
  top: 50px;
}
.circle {
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}
.circle-red {
  background-color: red;
}
.circle-white {
  background-color: white;
}
.circle-1 {
  margin-left: 400px;
  margin-top: 100px;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 8px;
}
.circle-2 {
  width: 90px;
  height: 90px;
}
.circle-3{
  width: 80px;
  height: 80px;
}
.circle-4{
  width: 70px;
  height: 70px;
}
.circle-5{
  width: 60px;
  height: 60px;
}
.circle-6{
  width: 50px;
  height: 50px;
}
.circle-7{
  width:40px;
  height: 40px;
}
.circle-8{
  width: 30px;
  height: 30px;
}
.circle-9{
  width: 20px;
  height: 20px;
}
.raya-v{
  width: 50px;
  height: 100px;
  border-right: 1px solid black;
  position: absolute;
  left: 404.5px;
  top: 105px;
  z-index: 100;
}
.raya-h{
  width: 100px;
  height: 100px;
  border-top: 1px solid black;
  position: absolute;
  left: 405px;
  top: 155.1px;
  z-index: 150;
}